




.v1 { color: #ff0000; }
.v1 { color: #ff8800; }
.v1 { color: #ffff00; }
.v1 { color: #d9ff00; }
.v1 { color: #00ff40; }
.v1 { color: #00ffdd; }
.v1 { color: #00d9ff; }
.v1 { color: #0000ff; }
.v1 { color: #6200ff; }
.v1 { color: #bb00ff; }
.v1 { color: #ff00b7; }
